.mainUL {
    list-style: none;
    padding-left: 10px;
}
.mainUL:first-child {
    padding-left: 0;
}
.mainDiv {
    width: 400px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
}
.commentDiv {    
    width: 100%;
}
.actionDiv {
    display: flex;
    width: 180px;
    margin: 0 0 0 auto;
}
.actionDiv button {
    width: 100%;
}
.hiddenReplyDiv {
    width: 100%;
    padding-top: 15px;
}
.editCommentDiv,
.replyCommentDiv {
    padding: 5px 0;
}
.replyUsernameInput,
.replyCommentInput,
.editCommentInput {
    width: 100%;
}
.commentUserNameDiv {
    color: gray;
    font-size: 12px;
}